.word {
    cursor: pointer;
}

span {
    white-space: pre;
}

// ._0 {
//     opacity:.75;
// }
// ._1 {
//     opacity:.85;
// }
// ._2{
//     opacity:1 ;
// }
.AA {background-color: rgb(random(255),random(255),random(255));}	
.AE	{ background-color: rgb(random(255),random(255),random(255));}
.AH	{ background-color: rgb(random(255),random(255),random(255));}
.AO	{ background-color: rgb(random(255),random(255),random(255));}
.AW	{ background-color: rgb(random(255),random(255),random(255));}
.AY	{ background-color: rgb(random(255),random(255),random(255));}
.B 	{ background-color: rgb(random(255),random(255),random(255));}
.CH	{ background-color: rgb(random(255),random(255),random(255));}
.D 	{ background-color: rgb(random(255),random(255),random(255));}
.DH	{ background-color: rgb(random(255),random(255),random(255));}
.EH	{ background-color: rgb(random(255),random(255),random(255));}
.ER	{ background-color: rgb(random(255),random(255),random(255));}
.EY	{ background-color: rgb(random(255),random(255),random(255));}
.F 	{ background-color: rgb(random(255),random(255),random(255));}
.G 	{ background-color: rgb(random(255),random(255),random(255));}
.HH	{ background-color: rgb(random(255),random(255),random(255));}
.IH	{ background-color: rgb(random(255),random(255),random(255));}
.IY	{ background-color: rgb(random(255),random(255),random(255));}
.JH	{ background-color: rgb(random(255),random(255),random(255));}
.K { background-color: rgb(random(255),random(255),random(255));}
.L 	{ background-color: rgb(random(255),random(255),random(255));}
.M { background-color: rgb(random(255),random(255),random(255));}
.N { background-color: rgb(random(255),random(255),random(255));}
.NG { background-color: rgb(random(255),random(255),random(255));}	
.OW	{ background-color: rgb(random(255),random(255),random(255));}
.OY	{ background-color: rgb(random(255),random(255),random(255));}
.P 	{ background-color: rgb(random(255),random(255),random(255));}
.R 	{ background-color: rgb(random(255),random(255),random(255));}
.S 	{ background-color: rgb(random(255),random(255),random(255));}
.SH	{ background-color: rgb(random(255),random(255),random(255));}
.T 	{ background-color: rgb(random(255),random(255),random(255));}
.TH	{ background-color: rgb(random(255),random(255),random(255));}
.UH	{ background-color: rgb(random(255),random(255),random(255));}
.UW { background-color: rgb(random(255),random(255),random(255));}
.V 	{ background-color: rgb(random(255),random(255),random(255));}
.W 	{ background-color: rgb(random(255),random(255),random(255));}
.Y 	{ background-color: rgb(random(255),random(255),random(255));}
.Z 	{ background-color: rgb(random(255),random(255),random(255));}
.ZH	{ background-color: rgb(random(255),random(255),random(255));}